.message {
  padding: 7px;
  margin: 7px;
  width: fit-content;
  /* font-size: 5px; */
}

.message_user {
  margin-left: auto;
  /* color: blue; */
  text-align: right !important;
}

.message_usercard {
  background-color: #0b81ff !important;
}

.message_guestcard {
  background-color: #e9e9eb !important;
}
