.message{
    padding: 10px;
    margin: 10px;
    width: fit-content;
}

.message_user{
    margin-left: auto;
    /* color: blue; */
    text-align: right !important;
}

.message_usercard{
    background-color: #0b81ff;
}

.message_guestcard{
    background-color: #e9e9eb;

}